.carousel-container-wrapper {
  margin-bottom: 2rem;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  width: max-content;
}

.carousel-item {
  flex-shrink: 0;
  margin: 0 1rem;
}

@keyframes scroll-left-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right-to-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.left-to-right {
  animation: scroll-left-to-right 40s linear infinite;
}

.right-to-left {
  animation: scroll-right-to-left 40s linear infinite;
}
